.logIn {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: sans-serif;
}

.line_69 {
  height: 100vh;
  background: #a10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page {
  width: 1440px;
  height: 700px;
  background: #ffe0e0;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#page .logo {
  position: absolute;
  top: 62px;
  left: 66px;
  animation: ani1 4s infinite linear;
}

@keyframes ani1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate((360deg));
  }
}

#page .logo .bxl-html5 {
  transition: all 0.1s;
  font-size: 70px;
  color: rgb(229, 54, 54);
  animation: ani2 5s infinite linear;
}

@keyframes ani2 {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(720deg);
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
}

.left {
  width: 50%;
  padding-top: 220px;
  padding-left: 150px;
}

.left .title {
  height: 100px;
}

.left .title h1 {
  color: rgb(18, 10, 10);
  font-size: 95px;
  letter-spacing: 10px;
}

.left p {
  font-size: 20px;
  margin-top: 20px;
  color: rgb(18, 10, 10);
}

.left button {
  width: 195px;
  height: 42px;
  border: 2px solid rgb(201, 112, 112);
  background: transparent;
  margin-top: 100px;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right form {
  width: 492px;
  height: 596px;
  border: 1px solid rgb(201, 112, 112);
  box-shadow: 0 0 10px rgb(201, 112, 112);
}

form h1 {
  margin-top: 76px;
  color: black;
  text-align: center;
  margin-bottom: 87ppx;
}

.form_login input {
  display: block;
  width: 350px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 20px;
  background: #ffe0e0;
  color: black;
}

.form_login input[type="submit"] {
  width: 212px;
  height: 53px;
  color: black;
  border: 2px solid rgb(201, 112, 112);
  margin-top: 75px;
  padding: 0;
  cursor: pointer;
}
