.logIn {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: sans-serif;
}

.line_69 {
  height: 95vh;
  background: #a10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page {
  height: 600px;
  width: 100%;
  background: white;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#page .logo {
  position: absolute;
  left: 10px;
}

#page .logo .bxl-html5 {
  transition: all 0.1s;
  font-size: 70px;
  color: rgb(229, 54, 54);
  animation: ani2 5s infinite linear;
}

@keyframes ani2 {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(720deg);
  }
}

.content {
  width: 100%;
  display: flex;
}

.left {
  width: 50%;
  padding-top: 220px;
  padding-left: 30px;
  --width: 50%;
}

.left .title1 h1 {
  color: rgb(18, 10, 10);
  font-size: 50px;
  letter-spacing: 10px;
  text-align: left;
  margin-left: 40px;
}

.left p {
  font-size: 20px;
  margin-top: 20px;
  color: rgb(18, 10, 10);
}

.left button {
  width: 195px;
  height: 42px;
  border: 2px solid rgb(201, 112, 112);
  background: transparent;
  margin-top: 100px;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50%);
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right form {
  border-radius: 5px 0;
  height: 600px;
  border: 1px solid rgb(201, 112, 112);
  box-shadow: 0 0 10px rgb(201, 112, 112);
}

.right form h1 {
  margin-top: 76px;
  color: black;
  text-align: center;
  margin-bottom: 87ppx;
}

.form_login input {
  display: block;
  width: 350px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 20px;
  background: #ffe0e0;
  color: black;
}

.policy {
  display: flex;
}

header .con-nav {
  background-image: url(./img/Header-Footer/flashSale.gif);
  background-size: cover;
}

.nav-item {
  font-weight: bold;
  margin-right: 20px;
  font-size: 20px;
  margin-top: 10px;
}

.signUp_1 {
  text-align: center;
}

.navbar-toggler {
  margin: 10px;
  border: 2px solid black;
  background-color: rgb(236, 46, 46);
}

.col-3 .input-container {
  position: absolute;
  top: 30%;
  left: 13%;
  transform: translateY(40%);
  width: 270px;
}

.bx-search {
  margin-left: -5%;
}

.logIn {
  text-align: center;
}

/*Phần LogIn  */
.right-login {
  width: 50%;
  border: 2px solid rgb(201, 112, 112);
}

.form-login {
  margin-top: 200px;
}

.form-login input {
  width: 90%;
}
