*{
  box-sizing: border-box;
}

/* flexible */
.header, .slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* For medium screens */
@media (max-width: 768px) {
  .header, .slider {
    flex-direction: column;
  }
}

/* For small screens */
@media (max-width: 480px) {
  .header, .slider {
    flex-direction: column;
  }
}

body {
  font: 1.2em Arial, sans-serif;
  display: grid;
  grid-template-areas:
    "header-cell"
    "nav-cell"
    "main-cell"
    "footer-cell";
  max-width: 100%;

  /* Làm đầy trang */
  margin: 0 auto;
}
main,
header,
footer {
  border: 1px solid red;
  border-radius: 1%;
  background-color: white;
}

/* HEADER & BANNER */
header {
  /* banner & logo */
  position: relative;
  /* logo & banner done */
  grid-area: header-cell;
  padding: 0 0.7%;
  background-color: red;
}
.logo-link {
  position: absolute; /* Set position to absolute for the logo link */
  top: 0; /* Position from the top of the header */
  left: 0; /* Position from the left of the header */
}
.logo {
  max-width: 27%;
  height: auto;
  z-index: 1; /* Set z-index to make sure the logo appears above the banner */
}
.banner-image {
  height: 100px; /* Adjust height as needed */
  width: 100%;
}
nav {
  grid-area: nav-cell;
  padding: 1%;
}
.search-container {
  position: relative;
  float: left;
  top: 40%;
  left: calc(13%);
  z-index: 2;
  background-color: transparent;
}
.input-container {
  position: relative;
  width: 100%;
}
.search-input {
  font-size: 100%;
  width: 110%;
  height: 100%;
  padding: 1% 3% 3% 1%;
  border-radius: 1%;
  border: none;
  padding-right: 10%;
}
.search-container .input-container .fa-magnifying-glass {
  position: absolute; /* Add this line */
  top: 50%; /* Add this line */
  right: -10px; /* Add this line */
  transform: translateY(-50%); /* Add this line */
}
a {
  text-decoration: none;
}
nav a {
  font-size: 100%;
  float: left;
  font-weight: bold;
  color: lightcyan;
  padding: 1%;
}
nav a:hover {
  color: black;
  background-color: white;
}

main {
  grid-area: main-cell;
}

/* Slider */
li {
  list-style: none;
}
.slider {
  padding: 20px 0;
  height: 1%;
}
.slide-content {
  display: flex;
  justify-content: space-between;
}
/* LEFT */
.slide-content-left{
  width: 75%;
  padding: 0 1%;
  position:  relative;
}

.slide-content-left-top {
  width: 100%;
  height: 90%;
}
.slide-content-left-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-content-left-bottom{
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  height: 15%;
}
.slide-content-left-bottom li {
  font-size: 80%;
  width: 50%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-left: 2px solid red;
}
.slide-content-left-bottom li:nth-child(1){
  border-left: none;
}
.slide-content-left-bottom li::before {
  display: block;
  content: "";
  position: absolute;
  width: 1px;
  height: 70%;
  right: 0;
}
.slide-content-left-bottom li.active{
  background-color: red;
  color: white;
  font-weight: bolder;
}
/* RIGHT */
.slide-content-right{
  width: 25%;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 1%;
}
.slide-content-right li{
  width: 50%;
  height: 50%;
  text-align: center;
}
.slide-content-right li img{
  height: 90%;
  width: 90%;
}
.mySlides{
  display: none;
}

/* Button slide */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 4}
}
/* End Slider */
/* banner */
.banner-product{
  margin-top: 27%;
}
.banner-product img{
  width: 100%;
  height: 100%;
}
.banner-product2 img{
  margin-top: 1%;
  width: 100%;
}
/* product item */
/* CSS */
section .product{
  display: block;
  unicode-bidi: isolate;
}
.container{
  min-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lts-product{
  display: flex;
  flex-wrap: wrap;
  animation: append .2s ease-in-out;
}
.lts-product .product-item {
  margin: 0 10px 10px 0;
  flex: 1 0 calc(20% - 10px);
  width: calc(20% - 10px);
  background: #fff;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 8px;
  text-align: center;
  position: relative;
}
.lts-product .product-item .item-img{
  width: 100%;
  margin: 10px auto 0 auto;
}
.lts-product .product-item .item-img img{
  width: 70%;
  height: 40%;
  transition: transform 0.3s ease-in-out;
}
.lts-product .product-item .item-img img:hover{
  transform: scale(1.1);
}
.lts-product .product-item .item-info{
  margin-top: 5px;
  padding: 0 10px 15px 10px;
  margin-bottom: 50px;
  font-size: 15px;
}
.lts-product .product-item .item-info .price{
  display: block;
  clear: both;
}
label{
  cursor: default;
}
.text-red{
  color: red;
}
strong{
  font-weight: bold;
}
.lts-product .product-item .note{
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  bottom: 10px;
  text-align: left;
  font-size: 15px;
}
.text-orange{
  color: orange;
}
.lts-product .product-item .item-info .bag{
  display: inline-block;
  background: #f7941e 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 3px;
  padding: 3px 5px;
  color: white;
  font-size: 11px;
}
/* For medium screens */
@media (max-width: 768px) {
  .product-item {
    flex: 1 0 46%; /* Grow and shrink, basis */
  }
}

/* For small screens */
@media (max-width: 480px) {
  .product-item {
    flex: 1 0 96%; /* Grow and shrink, basis */
  }
}

footer {
  grid-area: footer-cell;
  text-align: center;
  font-weight: bold;
  padding-top: 2%;
}

.footer_end a {
  border: 5px solid white;
  color: black;
}

.footer_end .social-icon {
  color: red;
}

footer .gotop i {
  right: 1%;
  z-index: 100;
  position: fixed;
  bottom: 1%;
  font-size: 250%;
  color: red;
}
